#cesiumContainer {
    width: 98%;
    height: 92%;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.button-container {
    position: absolute;
    left: 50%;
    top: 10px;
}